<div class="container">
  <div>
    <h3 class="about-us-title">About us</h3>
  </div>
  <div class="about-us-description">
    <p>Discover Who We Are
      At Migralog, we are committed to excellence, innovation and exceptional service.
      From our humble beginnings to our current growth, we have maintained an unwavering focus on
      satisfy the needs of our clients and exceed their expectations.
      Our team is made up of passionate body disorder experts, who work tirelessly to
      offer creative and effective solutions. We are proud of our ability to adapt to the changing demands of the
      market and to lead the way to a brighter future.</p>
  </div>
  <div class="about-us-description">
    <p>At Migralog, we not only strive for excellence in our products and services, but
      We also value integrity, transparency and commitment to the community. We believe in building relationships
      solid and lasting relationships with our clients, based on trust and mutual respect.
      Join us on our journey as we continue to push boundaries, inspire innovation and
      making a positive difference in the world around us. We welcome you to the Migralog family!
    </p>
  </div>
</div>
