

    <div class="modal-content">
      <h2>Detalles del usuario</h2>
      <div class="details-container">
        <div class="details-item">
          <span class="details-key">ID:</span>
          <span class="details-value">{{ user.id }}</span>
        </div>
        <div class="details-item">
          <span class="details-key">Nombre:</span>
          <span class="details-value">{{ user.name }}</span>
        </div>
        <div class="details-item">
          <span class="details-key">Apellido:</span>
          <span class="details-value">{{ user.last_name }}</span>
        </div>
        <div class="details-item">
          <span class="details-key">Email:</span>
          <span class="details-value">{{ user.email }}</span>
        </div>
        <div class="details-item">
          <span class="details-key">Teléfono:</span>
          <span class="details-value">{{ user.phone }}</span>
        </div>
        <!-- <div class="details-item">
          <span class="details-key">Rol:</span>
          <span class="details-value">{{ user.role.name }}</span>
        </div> -->
      </div>
      <button (click)="closeModal()">Cerrar</button>
    </div>
  
  