.container {
  text-align: center;
  margin: auto;
  max-width: 600px; /* Aumentamos el ancho máximo para mejorar la legibilidad */
  background-color: #d8d5d5; /* Cambiamos el fondo a gris */
  padding: 20px; /* Agregamos un poco de espacio interno */
  border-radius: 10px; /* Mantenemos el border-radius */
}
  
  .container h3,
  .container h4 {
    margin-bottom: 20px;
    color: #040269; 
  }
  
  .chart-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center; 
    align-items: center; 
    margin: 20px; 
    
  }

  .list-container {
    display: inline-block;
    margin-bottom: 80px;
  }
  
  table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    background-color: #d8d5d5;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  button {
    background-color: #2ad675;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }
  