.container {
  text-align: center;
  margin: auto;
  max-width: 600px; /* Aumentamos el ancho máximo para mejorar la legibilidad */
  background-color: #d8d5d5; /* Cambiamos el fondo a gris */
  padding: 20px; /* Agregamos un poco de espacio interno */
  border-radius: 10px; /* Mantenemos el border-radius */
}
  
  .container h3,
  .container h4 {
    margin-bottom: 20px;
    color: #040269; 
  }
  
  .chart-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center; 
    align-items: center; 
    margin: 20px; 
    
  }

  .list-container {
    width: 100%;
    overflow-x: auto; /* Agregamos un desplazamiento horizontal */
    margin-bottom: 80px;
  }
  
  table {
    border: 1px solid #ccc;
    border-radius: 10px; /* Agregamos bordes redondeados */
    border-collapse: separate; /* Añadimos separación entre las celdas */
    width: 100%;
    height: auto;
    background-color: #f6f6f6; /* Utilizamos un tono suave de gris para el fondo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añadimos una sombra suave */
  }
  
  th, td {
    border: none;
    padding: 12px;
  }
  
  button {
    background-color: #2ad675;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1e995f; /* Cambiamos el color del botón al pasar el cursor */
  }