<div class="container">
  <h1>Bienvenido a tu área personal {{ userName }}</h1>
  <h4>Actividad Previa más Común: {{ mostCommonPreviousActivity }}</h4>
  <h4>Duración Media de los Incidentes: {{ averageDurationFormatted }}</h4>

  <!-- Gráfico -->
  <div class="chart-container">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [type]="'pie'"
            >
    </canvas>
  </div>

  <div class="list-container">
    <h2>Listado de todos los Episodios:</h2>
    <table>
      <thead>
        <tr>
          <th>Fecha Inicio</th>
          <th>Actividad Previa</th>
          <th>Medicación</th>
          <th>Duración</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let incident of incidents">
          <td>{{ incident.startTime | date:'shortDate' }}</td>
          <td>{{ incident.previousActivity }}</td>
          <td>{{ incident.medication }}</td>
          <td>{{ getDuration(incident) }}</td>
          <td>
            <button mat-icon-button class="icon-button" (click)="editIncident(incident.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="icon-button" (click)="deleteIncident(incident.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button class="icon-button" (click)="viewIncidentDetails(incident.id)">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
