.container {
  position: relative;
  top: -40px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  max-width: 650px; 
  background-color: #d8d5d5; 
  padding: 30px; 
  border-radius: 10px; 
}
  
  .container h3,
  .container h4 {
    margin-bottom: 20px;
    color: #040269; 
  }
  
  .chart-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center; 
    align-items: center; 
    margin: 20px; 
    
  }

  .list-container {
    width: 100%;
    overflow-x: auto; 
    margin-bottom: 80px;
  }
  
  table {
    border: 1px solid #ccc;
    border-radius: 10px; 
    border-collapse: separate; 
    width: 100%;
    height: auto;
    background-color: #f6f6f6; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  th, td {
    border: none;
    padding: 12px;
  }
  
  .icon-container {
    cursor: pointer;
    margin-right: 10px; 
  }
  
  .material-icons {
    font-size: 24px;
    color:  #1120cc;
  }
  
  .material-icons:hover {
    color:  #0c0259;
  }
  
  button {
    background-color: #2ad675;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1e995f; 
  }