### Backend ###
/backend/.idea/
/backend/Migralog2/target/

### Frontend ###
/frontend/Frontend_Migralog/.angular/
/frontend/Frontend_Migralog/.vscode/
/frontend/Frontend_Migralog/dist/
/frontend/Frontend_Migralog/initdb/
/frontend/Frontend_Migralog/node_modules/