/* footer.component.css */
.footer-container {
  display: flex;
  background-color: rgba(62,62,62,1); /* Fondo gris */
  justify-content: center;
  align-items: center;

  padding: 10px; /* Ajusta según sea necesario */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.social-icons {
  margin-bottom: 0.5rem;
}

.social-icons {
  display: flex;
  gap: 10px;

  color: #f8f6ed;
  margin: 0 0.5rem;
  margin-left: 16px;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.social-icons a {
  color: #737371;
  text-decoration: none;
  font-size: 24px;
}

.social-icons a:hover {
  color: #f1f1f1;
}


.copyright-text {
  color: #ffffff; /* Color del texto */
  margin: 0; /* Elimina el margen predeterminado */
}
