<!-- change-theme.component.html -->
<div class="container">
  <div class="change-theme" [style.background-color]="themeService.selectedBackgroundColor$ | async"
    [style.color]="themeService.selectedColor$ | async" [style.font-size.px]="themeService.selectedFontSize$ | async">

    <h2>Selecciona un tema</h2>

    <div class="theme-options">
      <div class="theme-option" *ngFor="let theme of themes" (click)="setSelectedBackgroundColor(theme.color)">
        <div [ngClass]="theme.color" class="color-circle"></div>
        <span>{{ theme.name }}</span>
      </div>
    </div>

    <!-- <h3>Color de letras</h3>

    <div class="color-options">
      <button class="style" (click)="setSelectedColor('negro')">Negro</button>
      <button class="style" (click)="setSelectedColor('blanco')">Blanco</button>
    </div> -->

    <!-- <h3>Tamaño de letras</h3>

    <div class="font-size-options">
      <button class="style" (click)="setSelectedFontSize(12)">Pequeño</button>
      <button class="style" (click)="setSelectedFontSize(16)">Mediano</button>
      <button class="style" (click)="setSelectedFontSize(24)">Grande</button>
    </div>
  </div>
</div> -->