<div class="container">
    <div class="content">
        <div class="welcome-message-cont">
            <h3 *ngIf="isUserLoggedIn; else notLoggedIn" class="welcome-message">Te damos la bienvenida {{ userName }}</h3>
            <ng-template #notLoggedIn>
                <h3 class="welcome-message">Hola, puedes <a [routerLink]="['/login-user']">acceder</a> o <a [routerLink]="['/signup']">registrarte</a> con nosotros<br /> sí aún no lo has hecho.</h3>
            </ng-template>
        </div>
        <div>
        <p class="description">Para todas las personas que buscan una solución a la migraña<br/> y les dicen que no existe:<br>
             “La información es poder” <i>Leviatan, 1651.</i></p>
        </div>
        <div [ngClass]="backgroundColorClass" class="frase-del-dia">
            <h3 class="frase-del-dia-title">Frase del día:</h3>
            <p class="frase-del-dia-text">{{ phraseDay }}</p>
        </div>
        <div class="description-container">
            <p class="description">El uso que hacemos de tus datos pueden mejorar la calidad de vida<br/> de muchas personas como
                tu.<br>
                <!-- Pregunta si tienes alguna duda o registra una incidencia para completar tu registro</p> -->
        </div>
        <button routerLink="/new-incident" [ngClass]="backgroundColorClass" class="button">
            <mat-icon class="material-icons">add</mat-icon>
            Nuevo Episodio
        </button>
    </div>
</div>