.container {
  position:relative;
  top: -40px;
  text-align: center;
  margin: auto;
  max-width: 640px;
  padding: 20px; 
  background-color: #d8d5d5; 
  border-radius: 10px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), 
  5px 5px 10px rgba(0, 0, 0, 0.1), 
  10px 10px 20px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 0%;
  margin: 0%;
  margin-top: 20px;
}

.welcome-message-cont {
  display: block;
}

.welcome-message {
  font-size: 22px;
  margin-bottom: 20px;
  color: #000000; 
}

.description-container{
  margin-top: 16px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
  color: #000000; 
}

.frase-del-dia {
  margin: auto;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), 
  5px 5px 10px rgba(0, 0, 0, 0.1), 
  10px 10px 20px rgba(0, 0, 0, 0.1);
}

.frase-del-dia-title {
  font-size: 18px;
  font-weight: bold;
}

.frase-del-dia-text {
  font-size: 16px;
}

.button {
  width: 100%;
  border-radius: 10px;
  max-width: 300px; /* Reducir el ancho máximo del botón */
  height: 50px; /* Aumentar la altura del botón */
  font-size: large;
}

