.container {
  position:relative;
  top: -40px;
  text-align: center;
  margin: auto;
  max-width: 640px;
  padding: 20px; 
  background-color: #d8d5d5; 
  border-radius: 10px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), 
  5px 5px 10px rgba(0, 0, 0, 0.1), 
  10px 10px 20px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 0%;
  margin: 0%;
  margin-top: 20px;
}

.welcome-message-cont {
  display: block;
}

.welcome-message {
  font-size: 26px;
  margin-bottom: 32px;
  color: #000000; 
}

.description-container{
  margin-top: 16px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
  color: #000000; 
}

.frase-del-dia {
  width: 90%;
  margin: auto;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 
  5px 5px 10px rgba(0, 0, 0, 0.1);  
}

.frase-del-dia-title {
  font-size: 18px;
  font-weight: bold;
}

.frase-del-dia-text {
  font-size: 16px;
}

.button {
  width: 100%;
  color: #000000;
  border-radius: 15px;
  max-width: 300px; 
  height: 50px; 
  font-size: large;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 
  5px 5px 10px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #1e995f;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.material-icons {
  font-size: 24px;
  margin-right: 8px;
  color: #1120cc;
}