.new-user {
  position: relative;
  top: -40px;
  text-align: center;
  margin: auto;
  max-width: 600px;
  background-color: #e4e4e4; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), 
  5px 5px 10px rgba(0, 0, 0, 0.1), 
  10px 10px 20px rgba(0, 0, 0, 0.1);
}
  
  .new-user h3 {
    margin-bottom: 20px;
  }
  
  .form-group {
    width: 100%; /* Asegura que cada grupo de formulario ocupe el ancho completo */
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center;
    padding-inline: 10%;
    margin-bottom: 15px; /* Espaciado entre los campos */
  }
  
  .form-group label {
    width: 60%; /* Ajusta el ancho de las etiquetas */
    text-align: left;
    font-weight: 600;
  }
  
  .form-group input {
    width: 65%; /* Ajusta el ancho de los inputs */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .new-user button {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom:20px;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    max-width: 300px;
  }
  
  .error-message {
    color: rgb(234, 67, 67);
    font-size: 14px;
    margin-top: 5px; /* Ajusta el margen superior para mensajes de error */
    text-align: center;
  }

  /* .new-user button:hover {
    background-color: #218f58; // Color de fondo al pasar el ratón
  } */
  