<div class="form-container">
    <h2>Nuevo Incidente</h2>
    <form (ngSubmit)="saveIncident()" #incidentForm="ngForm">
        <div>
            <label for="type">Tipo de incidente:</label>
            <input type="text" id="type" name="type" [(ngModel)]="incident.type" required>
        </div>
        <div>
            <label for="kind">Clase de incidente:</label>
            <input type="text" id="kind" name="kind" [(ngModel)]="incident.kind" required>
        </div>
        <div>
            <label for="pain">Dolor provocado:</label>
            <input type="text" id="pain" name="pain" [(ngModel)]="incident.pain">
        </div>
        <div>
            <label for="prevAct">Actividad previa:</label>
            <input type="text" id="prevAct" name="prevAct" [(ngModel)]="incident.previousActivity" required>
        </div>
        <div>
            <label for="medication">Medicación (si hay):</label>
            <input type="text" id="medication" name="medication" [(ngModel)]="incident.medication">
        </div>
        <div>
            <div *ngIf="startTimeField.invalid && (startTimeField.dirty || startTimeField.touched)"
                class="alert alert-danger">
                <div *ngIf="startTimeField.errors?.['invalidDate']">La hora de inicio no puede ser posterior a la hora de fin.</div>
            </div>
            <label for="startTime">Fecha y hora de Inicio: </label>
            <input type="datetime-local" id="startTime" name="startTime" [(ngModel)]="incident.startTime" 
                (input)="validateDates()" required #startTimeField="ngModel">
        </div>
        <div>
            <div *ngIf="endTimeField.invalid && (endTimeField.dirty || endTimeField.touched)"
                class="alert alert-danger">
            <div *ngIf="endTimeField.errors?.['invalidDate']">La hora de fin no puede ser anterior a la hora de inicio.</div>
            <div *ngIf="endTimeField.errors?.['futureDate']">La hora de fin no puede ser posterior a la fecha actual.</div>
            </div>
            <label for="endTime">Fecha y hora de fin: </label>
            <input type="datetime-local" id="endTime" name="endTime" [(ngModel)]="incident.endTime" 
                (input)="validateDates()" required #endTimeField="ngModel">
        </div>

        <button type="submit" [disabled]="incidentForm.invalid">{{ isEditing ? 'Guardar cambios' : 'Guardar' }}</button>
    </form>
</div>
