/* styles.css */
html, body { height: 100%; }

body {
    background-color: #2ad675; 
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: black;
  }

  body.menta {
    background-color: #6a9b59;
  }
  
  body.azul {
    background-color: #3cafa3;
  }
  
  body.verde {
    background-color: #b7d8a6;
  }

  .menta {
    background-color: #6a9b59;
  }
  
  .azul {
    background-color: #3cafa3;
  }
  
  .verde {
    background-color: #b7d8a6;
  }
  
  body.negro {
    color: black;
  }
  
  body.blanco {
    color: white;
  }
  
  body.pequeno {
    font-size: 12px;
  }
  
  body.mediano {
    font-size: 16px;
  }
  
  body.grande {
    font-size: 24px;
  }
  

  /*modificar color de menu (sin terminar)
  .menu-rojo {
    background-color: red;
  }
  
  .menu-azul {
    background-color: blue;
  }
  
  .menu-verde {
    background-color: green;
  }*/


