<div >
    <h3>Update User</h3>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div>
            <label>ID :</label>
            <input type="number" id="id" [(ngModel)]="user.id" name="id">
        </div>
        <div >
            <label>Name : </label>
            <input type="text" id="name" [(ngModel)]="user.name" name="name">
        </div>
        <div >
            <label>Last Name : </label>
            <input type="text" id="last_name" [(ngModel)]="user.last_name" name="last_name">
        </div>
        <div>
            <label>Email : </label>
            <input type="email" id="email" [(ngModel)]="user.email" name="email">
        </div>
        <div>
            <label>Phone :</label>
            <input type="text" id="phone" [(ngModel)]="user.phone" name="phone">
        </div>
        <button >Save</button>
    </form>
</div>