.navbar {
  background: rgba(62, 62, 62, 1);
  color: rgb(255, 255, 255);
  padding: 0px;
  position: fixed;
  top: 0px;
  height: 70px;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.left-section,
.center-section,
.right-section {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.center-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.right-section {
  padding-right: 16px;
}

.admin-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.admin-link-hidden {
  display: none; /* Ocultar cuando no es administrador */
}

.admin-icon {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.brand {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}

.brand img {
  max-height: 100%;
  width: auto;
  border-radius: 15px;
  cursor: pointer;
}

.menu-button {
  background: rgba(62, 62, 62, 1);
  color: #fff;
  height: 60px;
  padding: 0 10px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  border-radius: 16px;
}

.menu {
  background-color: #333;
  padding: 36px;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  border-radius: 8px;
}

.menu-link {
  text-decoration: none;
  color: white;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 5px;
}

.menu a:hover {
  text-decoration: underline;
}

.is-menu-open {
  display: block;
}

.login-button {
  background: rgba(62, 62, 62, 1);
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.avatar-container {
  height: 50px;
  margin: 0 8px;
}

.avatar-container img {
  max-height: 100%;
  width: auto;
  border-radius: 15px;
}
