:host {
    display: block;
  }
  
  .mat-dialog-container {
    background-color: #f8f6ed; /* Fondo color blanco-hueso */
    padding: 20px;
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
  }
  
  .details-container {
    display: flex;
    flex-direction: column;
  }
  
  .details-column {
    flex: 1;
  }
  
  .details-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .details-key {
    font-weight: bold;
    min-width: 120px;
    margin-right: 10px;
  }
  
  .details-value {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  /* button {
    margin-top: 20px;
    background-color: #84c2a2; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px; 
    cursor: pointer;
  }
  
  button:hover {
    background-color: #043927; 
  } */
  